<div class="row">
  <div class="col-sm-8">

  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <p><%= @profile.username %></p>
    <%= link_to "Setings", edit_user_registration_path , class: "btn btn-primary" %>

    <p>Cake day: <%= @profile.created_at.strftime("%d/%m/%Y")%></p>
  </div>
</div>
